<html>
  <body>
    <form method="POST" action="/new">
        <label for="messageText">Message</label>
        <input type="text" name="messageText" id="messageText">
        <label for="messageUser">User</label>
        <input type="text" name="messageUser" id="messageUser">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>