@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: lexend, roboto;
}
a {
  text-decoration: none;
  color: black;
}
body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100vh;
  gap: 3em;
}
.header {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.423);
  width: 100%;
  padding-bottom: 10px;
}
.header > h1 {
  font-size: 3em;
}
.message-part {
  flex: 8;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
}
.message {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 18px;
  padding: 8px 20px 8px 20px;
  border: 1px groove black;
  border-radius: 4px;
}
.message-options {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.message-options > a {
  flex: 1;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.373);
  border-radius: 4px;
}
.message > p {
  flex: 1;
}
.add {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.add > button {
  font-size: 25px;
  padding: 4px 13px 4px 13px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.333);
  border-radius: 3px;
  cursor: pointer;
}
